<header id="adventure" class="portfolio">
  <div class="text-vertical-center">
    <br>
    <h2>La aventura de Mäia</h2>
    <hr class="small">
        <div class="container">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/mochila.gif">
            </div>  
        </div>

    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h4>Desde el comienzo del curso te unirás a Mäia,
          una aventurera que ha recibido pistas acerca de un tesoro encerrado
          en una antigua pirámide de la selva amazónica.
          Emprende tu aventura con ella y recorre bosques,
          ríos y cuevas oscuras que pondrán tu conocimiento a prueba mientras
          avanzas en tu aprendizaje. <p>¿Qué preciado tesoro
          se esconde protegido al final de vuestra aventura?</h4>
          
          <a href="modules_view.html" class="btn btn-dark btn-lg">¡Comienza la aventura!</a>
      </div>
        
    </div>
</header>
