<section id="calendar" class="section">
  <br>
  <div class="text-vertical-center col-lg-10 col-lg-offset-1 text-center">
    <h2>Calendario del Curso</h2>
    <hr class="small">
    <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=pj1sibn8d5tvj6gjkb2gv9qlg8%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Europe%2FMadrid"
            style="border:solid 1px #777" width="800" height="600"
            frameborder="0" scrolling="no"></iframe>
    <br><br>
  </div>
</section>
