<section id="calendar" class="section">
  <br>


	  <style>
	 @media (max-width: 650px) {
	     .big-container {
	         display: none;
	     }
	 }
	 @media (min-width: 650px) {
	     .small-container {
	         display: none;
	     }
	 }
	 </style>


  <div style="width:100%; text-align:center;" ><iframe  src="https://www.eventbrite.es/countdown-widget?eid=40138781175" frameborder="0" height="366" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.es/">Con tecnología de Eventbrite</a></div></div>
  <div class="text-vertical-center col-lg-10 col-lg-offset-1 text-center">

    <h2>Calendario del Curso</h2>
    <hr class="small">
    <div class="responsive-iframe-container big-container">
    	<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=pj1sibn8d5tvj6gjkb2gv9qlg8%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Europe%2FMadrid"
            style="border:solid 1px #777" width="800" height="600"
            frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="responsive-iframe-container small-container">
    	<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=800&amp;wkst=2&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=pj1sibn8d5tvj6gjkb2gv9qlg8%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Europe%2FMadrid"
            style="border:solid 1px #777" width="100%" height="600"
            frameborder="0" scrolling="no"></iframe>
 	</div>
    <br><br>
  </div>
</section>
