<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="container">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-2 text-center">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="portfolio-item">
                        <a href="#">
                          <img class="img-portfolio img-responsive" src="img/PosterSocialMedia.png">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
              <div class="col-lg-10 text-center">
                  <div class="row">
                    <div class="col-md-4 col-lg-offset-2">
                      <div class="portfolio-item">
                        <a href="https://image.hggm.es/">
                          <img class="img-portfolio img-responsive" src="img/biig_logo.gif">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="portfolio-item">
                        <a href="https://www.uc3m.es">
                          <img class="img-portfolio img-responsive" src="img/uc3m_logo.gif">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x" style="color: black"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x" style="color: black"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
