<header id="top" class="header">
  <div class="text-vertical-center">
  <h2 class="alert alert-info alert-dismissable" style="position: absolute; top: 0; margin-top: 3%; width: 100%">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" >&times;</a>
    <strong>¡Atención!</strong> Si te matriculas antes del día 07/12/2017 tendrás un 20% de descuento sobre el precio del curso.
  </h2>
    <div style="position: absolute; bottom: 0; margin-bottom: 9%; width: 100%">
      <h2>Curso de Python para Principiantes</h2>
      <h3>Campus de la Universidad Carlos III de Madrid en Leganés</h3>
      <h3>13 al 15 de diciembre de 09:00 a 15:00*</h3>
      <h4>*Los tres días se realizarán sesiones de tutoría opcionales a partir de las 16:00</h4>
    </div>
    <a href="https://www.eventbrite.es/e/registro-python4beginners-40138781175?ref=ebtnebregn" target="_blank" 
       style="position: absolute; bottom: 0; margin-left: -110px;"><img src="https://www.eventbrite.es/custombutton?eid=40138781175" alt="Eventbrite - Python4Beginners" /></a>
  </div>
</header>
