<header id="information" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-1 text-center">
    <br>
    <blockquote>
        <p> Python es uno de los lenguajes de programación más versátiles y potentes gracias a su simplicidad y claridad.
            Tanto si eres estudiante, profesional o te dedicas a cualquier campo de la ciencia,
            conocer Python e incluirlo dentro de tu entorno de trabajo puede ayudarte a agilizar tareas,
            automatizar procesos y ahorrar tiempo. Además, es totalmente gratuito y muy demandado en una amplitud de campos del conocimiento.</p>
    </blockquote>
    <h2>Qué vas a aprender</h2>
      <h3>Cómo instalar Python y las herramientas necesarias para trabajar en tu propio ordenador<br>
      <h3>Nociones básicas de programación<br>
      <h3>Programación orientada a objetos<br>
      <h3>Módulos para cálculo numérico, estadística básica y creación de gráficas atractivas<br>
      <h3>Creación de tu primera aplicación Python</h3>
    <br>
    <h2>A quién va dirigido</h2>
      <h3>Este curso va dirigido a estudiantes, científicos y profesionales que quieran iniciarse en el mundo de la programación desde un punto de vista práctico.
          No necesitas conocimientos previos de programación o formación en informática avanzada para realizarlo.
          Comenzaremos desde cero, adaptándonos al nivel de cada alumno para lograr un aprovechamiento máximo de forma individual.</h3>
    <br>
    <h2>Cuánto cuesta</h2>
      <h3><strong>Si te matriculas antes del 07/12/2017 el precio es de 80€</strong>. A partir de entonces el precio del curso por alumno será de 100 €.</h3>
    <br>
  </div>
</header>
