<header id="information" class="section">
  <div class="text-vertical-center">
    <br>
    <h1>Qué vas a aprender</h1>
      <h4>Cómo instalar Python y las herramientas necesarias para trabajar en tu propio ordenador.</h4>
      <h4>Nociones básicas de programación.</h4>
      <h4>Programación orientada a objetos.</h4>
      <h4>Módulos para cálculo numérico, estadística básica y creación de gráficas atractivas.</h4>
      <h4>Creación de tu primera aplicación Python.</h4>
    <br>
    <h1>A quién va dirigido</h1>
      <h4>Este curso va dirigido a estudiantes, científicos y profesionales que quieran iniciarse en el mundo de la programación desde un punto de vista práctico.
          No necesitas conocimientos previos de programación o formación en informática avanzada para realizarlo.
          Comenzaremos desde cero, adaptándonos al nivel de cada alumno para lograr un aprovechamiento máximo de forma individual.</h4>
    <br>
    <h1>Cuánto cuesta</h1>
      <h4>El precio del curso por alumno es de 100 €.</h4>
    <br>
  </div>
</header>
