<header id="information" class="section">
  <div class="text-vertical-center">
    <br>
    <h1>Qué vas a aprender</h1>
    <h3>Cómo instalar Python y las herramientas necesarias para trabajar en tu propio ordenador.</h3>
    <h3>Nociones básicas de programación.</h3>
    <h3>Programación orientada a objetos.</h3>
    <h3>Módulos para cálculo numérico, estadística básica y creación de gráficas atractivas.</h3>
    <h3>Creación de tu primera aplicación Python.</h3>
    <br>
    <h1>A quién va dirigido</h1>
    <h4>Este curso va dirigido a estudiantes, científicos y profesionales que quieran iniciarse en el mundo de la programación desde un punto de vista práctico.
        No necesitas conocimientos previos de programación o formación en informática avanzada para realizarlo.
        Comenzaremos desde cero, adaptándonos al nivel de cada alumno para lograr un aprovechamiento máximo de forma individual.</h4>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-4 text-center">
          <hr class="small">
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-responsive" src="img/logo.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</header>
