<header id="modulo-1" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-3 text-center">
    <div class="col-md-7 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <img class="img-portfolio img-responsive" src="img/tree_icon.gif">
            </span>
              <h2>
                Módulo 1: Instalación
              </h2>
              <hr class="small">
              <p>Recorre el bosque con Mäia para conseguir los materiales necesarios para continuar la aventura. 
              Tras este módulo tendrás instalado Python y unas cuantas librerías en tu ordenador.</p>
            </div>
          </div>
  </div>
</header>