<header id="modulo-2" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-3 text-center">
    <div class="col-md-7 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <img class="img-portfolio img-responsive" src="img/river_icon.gif">
            </span>
              <h2>
                Módulo 2: Python Básico
              </h2>
              <hr class="small">
              <p>Mäia se enfrenta a un nuevo obstáculo. Tendrá que descubrir cómo cruzar un río repleto de peligros. 
                Tras este módulo serás capaz de ejecutar <em>Notebooks</em> de Python y aprenderás los tipos de datos básicos.
                También comenzarás a experimentar con las funciones, bucles y excepciones.</p>
            </div>
          </div>
  </div>
</header>