<header id="modulo-5" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-3 text-center">
    <div class="col-md-7 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <img class="img-portfolio img-responsive" src="img/pyramid_icon.gif">
            </span>
              <h2>
                Módulo 5: Aplicación en Python
              </h2>
              <hr class="small">
              <p>Por fin, Mäia ha conseguido llegar a la base de la pirámide. Ahora deberá escalar hasta la cima para conseguir encontrar el tesoro oculto.
                En esta sección se realizará una introducción a <a href="https://riverbankcomputing.com/software/pyqt/intro">PyQt</a>, una librería basada en Qt 
                que permite realizar interfaces gráficas. También se realizará una introducción a <a href="https://www.slicer.org/">3D Slicer</a>, 
              plataforma de imagen médica que integra distintos tipos de módulos para el tratamiento de datos y se enseñará a desarrollar módulos para la misma.</p>
            </div>
          </div>
  </div>
</header>