<header id="modulo-4" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-3 text-center">
    <div class="col-md-7 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <img class="img-portfolio img-responsive" src="img/spider_icon.gif">
            </span>
              <h2>
                Módulo 4: Módulos Básicos
              </h2>
              <hr class="small">
              <p>Mäia ha sido capaz de salir ilesa del campo de flores y se para a preguntar la dirección hacia la pirámide a una araña gigante, 
              pero la araña tiene otros planes para nuestra aventurera. Para conseguir escapar de las redes de este monstruo peludo tendrás que aplicar
              tus conocimientos de los módulos básicos de Python. Se hará una introducción a <a href="http://www.numpy.org/">numpy</a>, una librería de cálculo
              científico con gran potencia de cálculo matricial; <a href="https://pandas.pydata.org/">pandas</a>, librería para el análisis estadístico de datos;
              y <a href="https://seaborn.pydata.org/">seaborn</a>, una librería que permite la visualización gráfica de resultados de forma sencilla.</p>
            </div>
          </div>
  </div>
</header>