<header id="modulo-3" class="section">
  <div class="text-vertical-center col-lg-10 col-lg-offset-3 text-center">
    <div class="col-md-7 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <img class="img-portfolio img-responsive" src="img/flower_icon.gif">
            </span>
              <h2>
                Módulo 3: Python Orientado a Objetos
              </h2>
              <hr class="small">
              <p>Tras salir viva del río por los pelos, Mäia se adentra en este campo de flores, aparentemente tranquilo... 
                Para superar esta prueba, deberás ser capaz de entender y ser capaz de crear clases y objetos, integrarlos dentro de módulos 
                y manejar las interrupciones con soltura.</p>
            </div>
          </div>
  </div>
</header>