<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >PyScience</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Principal</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >Información</a>
    </li>
    <li>
      <a href="mailto:{{ site.email }}" onclick = $("#menu-close").click(); >Contacto</a>
    </li>
  </ul>
</nav>
