<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Profesores del Curso</h2>
        <p class="lead">El curso se impartirá por los siguientes investigadores de la UC3M y el Laboratorio de Imágen Médica del Hospital Gregorio Marañón de Madrid.</p>
        <h3><a href="https://image.hggm.es/es/marinetto">Eugenio Marinetto</a></h3>
        <h3><a href="https://image.hggm.es/es/monica-garcia">Mónica García Sevilla</a></h3>
        <h3><a href="https://image.hggm.es/es/david-garcia-mato">David García Mato</a></h3>
        <h3><a href="https://image.hggm.es/es/afernandez">Alberto Fernández Pena</a></h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>