<section id="unidades" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <h2>Unidades Didácticas</h2>
      <hr class="small">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                  <img class="img-portfolio img-responsive" src="img/tree_icon.gif">
            </span>
              <h4>
                <strong>Módulo 1: Instalación</strong>
              </h4>
              <p>Instalación de Python en tu propio ordenador usando Anaconda</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                  <img class="img-portfolio img-responsive" src="img/river_icon.gif">
            </span>
              <h4>
                <strong>Módulo 2: Python Básico</strong>
              </h4>
              <p>Python Notebooks
              <br>Tipos de Dato
              <br>Funciones
              <br>Control de flujo
              <br>Errores y Excepciones</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <img class="img-portfolio img-responsive" src="img/flower_icon.gif">
            </span>
              <h4>
                <strong>Módulo 3: Python Orientado a Objetos</strong>
              </h4>
              <p>Clases y Objetos
              <br>Módulos y paquetes
              <br>Interrupciones</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <img class="img-portfolio img-responsive" src="img/spider_icon.gif">
            </span>
              <h4>
                <strong>Módulo 4: Módulos Básicos</strong>
              </h4>
              <p>Introducción a numpy
                <br>Nociones de pandas
                <br>Introducción a matplotlib
                <br>Uso de seaborn</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <img class="img-portfolio img-responsive" src="img/pyramid_icon.gif">
            </span>
              <h4>
                <strong>Módulo 5: Aplicación en Python</strong>
              </h4>
              <p>Introducción a 3DSlicer
                <br>Nociones de PyQt
                <br>Creación de módulos Python en 3DSlicer
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>